extends ../../layout

block content
  h3 Load

  a(href='/load/add' class="btn btn-default") Add
  
  table(class="table")
    thead
      tr
        th ID
        th Name
        th Code
        th Weight
        th &nbsp;
    tbody
      each type in planets
        tr
          td #{type.id}
          td #{type.name}
          td #{type.code}
          td #{type.weight}
          td
            a(href=`/location-type/edit/${type.id}` class="btn btn-default") Edit
            a(href=`/location-type/remove/${type.id}` class="btn btn-default") Delete